
body{
    background-color: #e6e6ff;
}

.parent{
    margin: 40px;
    
}

.card{
    background-color: white;
    width: 300px;
    height: 120px;
    padding: 20px 20px;
    border-radius: 5px;
}

.btn{
    display: flex;
    justify-content: flex-end;
}

.del{
    background-color: #800040;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 5px;
}